.accordion{
	overflow:hidden;
}

.accordionSection{
	display:block;
	width:100%;
	margin-bottom:5px;
	padding-bottom:5px;
	
	cursor: pointer;
	cursor: hand;
}

.accordionContent{
	display:block;
	width: calc(100% - 10px);
	padding-left:5px;
	padding-right:5px;
			
	overflow:hidden;
	
	max-height:0px;
	transition-property: max-height, margin-top;
    transition-duration: 1s;
	transition-timing-function: ease;
}

.accordion input[type=checkbox],.accordion input[type=radio]{
	position:absolute;
	display:none; /*Check in Opera and IE*/
}

.accordion input[type=checkbox]:checked~.accordionContent, .accordion input[type=radio]:checked~.accordionContent{
	max-height:400px;
	margin-top:5px;
}