@charset "UTF-8";

#wrapperAdd {
	font-size:150%;
	position:relative;
	width:100%;
	margin-bottom:10px;
}

#slider-range {

	margin-left:auto;
	margin-right:auto;
	width:70%;

}

#cRoomsList {

	width: 70px;

}

#rooms {
	width: 70px;

}

#moduleTitleOutput {
  font-size: 18px;
  font-weight: normal;
}

#priorityDiv {
	float:left;
}

#periodT {
	font-size: 15px;
}

#periodAndLengthWrapper {
	text-align: center;
	vertical-align: middle;
}

fieldset {
	padding:0.5em;
	margin:1em;
	background-color:#F4F4F4;
	border: 1px solid #E5E5E5;
}

a.button {
	background-color: #DDD;
}

a.button:hover, a.button:focus {
	background-color: #BBB;
}

table {
    border-collapse: collapse;
	width: 100%;
}

th, td {
    padding-right: 10px;
    padding-bottom: 5px;
}

fieldset legend {
    font-size: 20px;
	font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

form {
	width:100%;
}

.formDiv {
	/*border:1px solid #000;*/
	/*padding:1em;*/
	/*margin:1em;*/
	display:block;
	width:100%;
	font-size: 14px;
	font-weight: normal;
    padding-right: 10px;
    padding-bottom: 5px;
}

.periodNo {
	font-size: 20px;
	font-weight: bold;

}

.containerDiv {
	width:auto;
	clear:left;
	clear:right;
	display:block;
}

.submitDiv {
	clear:both;
	height:auto;
	width:auto;
	text-align:center;
}

.roomDiv {
	display:inline;
	width:50%;
	float:left;
}

.facilitiesDiv {
	display:inline;
	width:100%;
	float:left;
	font-size: 14px;
	font-weight: bold;
}

.moduleDetailsDiv {
	display:inline;
	width:50%;
	float:left;
}

.timeDetailsDiv {
	display:inline;
	width:50%;
	float:right;
}

.featuresDetailDiv {
	display:inline;
	width:50%;
	float:right;
}

.input {
	display:inline;
	float:right;
}

.formItem {
	display:block;
}

.leftRoom {
	/*margin:0 1em 0 1em;*/
	width:10em;
	display:inline-block;
	/*float:left;*/
}

.roomBtn {
	margin-left: 20px;
	margin-left-value: 20px;
	margin-left-ltr-source: physical;
	margin-left-rtl-source: physical;
}

roomBtnDiv {
	display:block;
}


.leftModule {
	/*margin:0 1em 0 1em;*/
	width:10em;
	display:inline-block;
	/*float:left;*/
}

.leftTime {
	width:5em;
	display:inline-block;
}

.right1 {
	/*margin:0 1em 0 1em;*/
	display:inline-block;
	/*float:right;*/
}

.formWrapper {
	width:100%;
}

.formLeft {

}

.formRight {

}