/*			Graphical Container				*/
.graphicalContainer {
	width:950px;
	margin-left:5px;
}


/*			Period/Time Header				*/

.graphicalHeadings {
	
	position:relative;
	left: calc(50% - 336px);
	height:30px;
	width:900px;
	
}

.periodHeaderTable, .timeHeaderTable {
	border-spacing:5px 0px;
}

.periodHeaderTable td, .timeHeaderTable td {
	height:60px;
	width:80px;
	
	display: inline-block;
	text-align:center;
	vertical-align:middle;
	
	border: 1px solid black;
	
}

.periodHeaderTable td {

	line-height:60px;
	
}

.timeHeaderTable td {
	
	line-height:20px;
	
}

/*			Main Section for each Day		*/
.sectionContainer {
	position:relative;
	overflow:hidden;
	
	height:auto;
	width:950px;
	
	margin-bottom: 10px;
	
	border: 1px solid black;
}

/*			Table and Content Part			*/
.sectionAccordion {
	float:right;
	height:auto;
	width:auto;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	padding-bottom:2px;
}

.dayTitle {
	position: absolute;
	top: calc(50% - 25px);
	margin-left:5px;
	
	width: 130px;
	height: 50px;
	
	text-align: center;
}

.dayTable {
	width:auto;
	
	empty-cells: show;
	
	border-spacing:5px 0px;
}

.dayTable  input[type=radio] {
	display: none;
}

.dayTable td {
	height:60px;
	width:80px;
	border: 1px solid grey;
}

#hiddenTD {
	height:0px;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}


.radioLabel {
	display: inline-block;
	height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
	
	line-height:60px;
	text-align:center;
	
	cursor: pointer;
	cursor: hand;
}

.requestSectionDefault {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fc', endColorstr='#E1E7EF',GradientType=0 );!important /* IE6-9 */
	
	background: -moz-radial-gradient(center, ellipse cover, #f4f8fc 50%, #e1e7ef 100%); /* FF3.6+ */
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#f4f8fc), color-stop(100%,#e1e7ef)); /* Chrome,Safari4+ */
	
	background: -webkit-radial-gradient(center, ellipse cover, #f4f8fc 50%,#e1e7ef 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-radial-gradient(center, ellipse cover, #f4f8fc 50%,#e1e7ef 100%); /* Opera 12+ */
	
	background: -ms-radial-gradient(center, ellipse cover, #f4f8fc 50%,#e1e7ef 100%); /* IE10+ */
	
	background: radial-gradient(ellipse at center, #f4f8fc 50%,#e1e7ef 100%); /* W3C */
	
}

.requestSectionAllocated{
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ffe3', endColorstr='#AEEFAA',GradientType=0 );!important /* IE6-9 */
	
	background: -moz-radial-gradient(center, ellipse cover, #e5ffe3 50%, #aeefaa 100%); /* FF3.6+ */
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#e5ffe3), color-stop(100%,#aeefaa)); /* Chrome,Safari4+ */
	
	background: -webkit-radial-gradient(center, ellipse cover, #e5ffe3 50%,#aeefaa 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-radial-gradient(center, ellipse cover, #e5ffe3 50%,#aeefaa 100%); /* Opera 12+ */
	
	background: -ms-radial-gradient(center, ellipse cover, #e5ffe3 50%,#aeefaa 100%); /* IE10+ */
	
	background: radial-gradient(ellipse at center, #e5ffe3 50%,#aeefaa 100%); /* W3C */
	
}

.requestSectionPending {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8db', endColorstr='#EFE8AC',GradientType=0 );!important /* IE6-9 */
	
	background: -moz-radial-gradient(center, ellipse cover, #fcf8db 50%, #efe8ac 100%); /* FF3.6+ */
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#fcf8db), color-stop(100%,#efe8ac)); /* Chrome,Safari4+ */
	
	background: -webkit-radial-gradient(center, ellipse cover, #fcf8db 50%,#efe8ac 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-radial-gradient(center, ellipse cover, #fcf8db 50%,#efe8ac 100%); /* Opera 12+ */
	
	background: -ms-radial-gradient(center, ellipse cover, #fcf8db 50%,#efe8ac 100%); /* IE10+ */
	
	background: radial-gradient(ellipse at center, #fcf8db 50%,#efe8ac 100%); /* W3C */
	
}

.requestSectionRejected {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8cc', endColorstr='#EFA892',GradientType=0 );!important /* IE6-9 */
	
	background: -moz-radial-gradient(center, ellipse cover, #ffd8cc 50%, #efa892 100%); /* FF3.6+ */
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#ffd8cc), color-stop(100%,#efa892)); /* Chrome,Safari4+ */
	
	background: -webkit-radial-gradient(center, ellipse cover, #ffd8cc 50%,#efa892 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-radial-gradient(center, ellipse cover, #ffd8cc 50%,#efa892 100%); /* Opera 12+ */
	
	background: -ms-radial-gradient(center, ellipse cover, #ffd8cc 50%,#efa892 100%); /* IE10+ */
	
	background: radial-gradient(ellipse at center, #ffd8cc 50%,#efa892 100%); /* W3C */
	
}


.contentSection {
	display:block;
	max-height:0px;
	width: calc(100% - 22px);
	
	padding-left:5px;
	padding-right:5px;
	margin-left:5px;
		
	overflow:hidden;
	
	transition-property: max-height, border-bottom;
    transition-duration: 1s;
	transition-timing-function: ease;
}

.requestContentSectionDefault {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fc', endColorstr='#E1E7EF',GradientType=0 );!important /* IE6-9 */
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #E1E7EF));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #E1E7EF 100%);
	
}

.requestContentSectionAllocated {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ffe3', endColorstr='#AEEFAA',GradientType=0 );!important /* IE6-9 */
	
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #AEEFAA));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #AEEFAA 100%);
	
}

.requestContentSectionPending {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8db', endColorstr='#EFE8AC',GradientType=0 );!important /* IE6-9 */
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #EFE8AC));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #EFE8AC 100%);
	
}

.requestContentSectionRejected {
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8cc', endColorstr='#EFA892',GradientType=0 );!important /* IE6-9 */
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #EFA892));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #EFA892 100%);
	
}


.topContentSection{
	overflow:hidden;
}

.sectionContentTopTable {
	float:left;
	width:630px;
	margin-top:10px;
	
	text-align:center;
	
	border-collapse:collapse;
}

.graphicalBtnsTable {
	float:right;
	margin-top:20px;
	width:140px;
	border-collapse:collapse;
	border: 1px solid black;
	
	text-align:center;
	vertical-align:middle;
}

.sectionContentTable {
	width:780px;
	margin-top:10px;
	text-align:center;
	border-collapse:collapse;
}



.sectionContentTable td, .sectionContentTopTable td{
	border: 1px solid black;
}

.titleCellTop {
	width:150px;
	text-decoration:underline;
} 

#pSection, #stuSection, #roomNumberSection, #tradSection, #sessSection, #parkSection {
	
	//width:100px;
	text-decoration:underline;
}

#statusSection {
	width:120px;
	text-decoration:underline;
} 

#faciSection {
	width:300px;
}