body {
	
	/*background-color: #363638;*/
	
}

#MainDiv {
	
	min-width:960px;
	
	border:1px solid #bbb;
}

/* Header Styling */
#HeaderDiv {
	position:relative;
	top:0px;
	height:150px;
	
	border:1px solid #bbb;
}
.mainheader {

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF -100%, #330066 60%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF -100%, #330066 60%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF -100%, #330066 60%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1, #FFFFFF), color-stop(0.6, #330066));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF -100%, #330066 60%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF -100%, #330066 60%);

/*background-color: #330066; */

text-align: center;
vertical-align: 100px;
color: white;
vertical-align: middle;
font-weight: 700;
font-size: 250%;
font-family: Sabon Roman, Sabon, serif;
padding: 5px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

/* Menu Styling */

#MenuDiv {
	position:relative;
	height:40px;
	min-width:960px;
	border:1px solid #bbb;
}

#MenuBar {
	position:absolute;
	height:40px;
	/*width:960px;*/
	width: 100%;
    margin: 0 auto;
	min-width:960px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.6, #FFFFFF), color-stop(1, #B4C6CF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF -60%, #B4C6CF 100%);
	
	
	
	/*background: linear-gradient(#FFFFFF, #EDEDED);
	
	border:1px solid #bbb;*/
}

#MenuBar2 {
	width:960px;
	margin: 0 auto;
}

.MenuBtn {
	position:relative;
	float:left;
	width:137.14px;
	
	text-align:center;
	
	cursor: pointer; 
	cursor: hand;
	
	line-height:40px;
	display: inline-block;
    vertical-align: middle;
	
	//border:1px solid #bbb;
}
.MenuSpacer {
	position:relative;
	float:left;
	width:100%;
	
	text-align:center;
	
	cursor: pointer; 
	cursor: hand;
	
	line-height:40px;
	display: inline-block;
    vertical-align: middle;
	
	//border:1px solid #bbb;
}

.MenuBtn:hover {
	background: #E0E0E0;
}


/* Content Styling */

#ContentDiv {
	
	position: relative;
	
	height: 1000px;
	min-width:960px;
	
	border:1px solid #bbb;
}


/* Footer Styling */

#FooterDiv {
	
}