@charset "UTF-8";

html, body {
	height:98.5%;	/* Prevents scrolling while allowing small margin */
}

body {
	font-family:'Alef', sans-serif;
	background-color: #363638;
	overflow:auto;
}

#wrapper {
	background:#dedede;
	height:100%;
	min-height:100%;
	min-width:1020px;
	border:1px solid #404040;
	margin-bottom:-100px;	/* For sticky footer */
}

#wrapper:after {	/* For sticky footer */
	content:"";
	display:block;
}

footer, #wrapper:after {	/* For sticky footer */
	height:100px;
}

header {
	position:relative;
	top:0;
	height:3.75em;	
	padding:5px;
	font-weight:700;
	font-size:200%;
	color:#fff;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1, #FFFFFF), color-stop(0.6, #330066));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF -100%, #330066 60%);
	/*background-color: #330066; */
}

footer {
	padding:5px;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1, #FFFFFF), color-stop(0.6, #330066));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF -100%, #330066 60%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF -100%, #330066 50%);
	/*background-color: #330066; */
}

/******************************************/
/********** Start of nav styling **********/
/******************************************/

nav {
	line-height:25px;
	text-align:center;
	display:block;
	margin:0;
	font-weight: bold;
	font-family:'Alef', sans-serif;
	color:#404040;
	text-shadow:0px 2px 2px rgba(150, 150, 150, 1);
	cursor:pointer; 
	cursor:hand;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.6, #FFFFFF), color-stop(1, #B4C6CF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF -60%, #B4C6CF 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF -60%, #B4C6CF 100%);
}

nav ul {
	height:auto;
	padding:0;
	display:block;
	margin:0 auto;
}

nav li {
	display:inline-block;
	height:auto;
	padding:0.5em 2em 0.5em 2em;
}

nav li:hover {
	display:inline-block;
	text-shadow:0px 5px 2px rgba(0,0,0,0.6);
	text-decoration:none;
	font-weight:bold;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF -200%, #431D4F 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF -200%, #431D4F 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF -200%, #431D4F 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-2, #FFFFFF), color-stop(1, #431D4F));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF -200%, #431D4F 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF -200%, #431D4F 100%);
}

nav li:hover a {
	color:#dedede;
}

/****************************************/
/********** End of nav styling **********/
/****************************************/

/********************************************************/
/********** Start of heading/paragraph styling **********/
/********************************************************/

h1 {
	/*line-height:0.5em;*/
	line-height:1.2em;
	margin:0.75em;
	padding:0 0 0 0.5em;
	font-size:1em;
	/*padding-left:20px;*/
	text-shadow:0px 4px 2px rgba(28, 0, 33, 1);
}

h1.left {
	float:left;
}

h2 {
	/**/
}

h3 {
	/**/
}

h4 {
	/**/
}

h5 {
	/**/
}

h6 {
	font-size:1em;
	text-align:center;
	color:#fff;
}

p {
	/**/
}

/******************************************************/
/********** End of heading/paragraph styling **********/
/******************************************************/

img.logo {
	padding:0 0.5em 0 0;
	margin:0.75em;
	line-height:1.2em;
	float:right;	
}

a {outline:0;}
a:link {text-decoration:none;color:#404040;}
a:visited {text-decoration:none;color:#404040;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}