.listHeadings {
	width:780px;
	margin:5px;
	
	text-align:center;
	vertical-align:middle;
	text-decoration:underline;
	
	border-collapse:collapse;
}

.listHeadings td{
	border: 1px solid black;
}


#depField, #pField, #tradField {
	width:40px;
}

#periodField, #lengthField, #stuField {
	width:60px;
}

#dayField {
	width:100px;
}

#weeksField {
	width:240px;
}


.requestCardDefault {
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #E1E7EF));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #E1E7EF 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #E1E7EF 100%);
	
}

.requestCardAllocated {
	
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #AEEFAA));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #AEEFAA 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #AEEFAA 100%);
	
}

.requestCardPending {
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #EFE8AC));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #EFE8AC 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #EFE8AC 100%);
	
}

.requestCardRejected {
	
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Opera */
	background-image: -o-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-0.3, #FFFFFF), color-stop(1, #EFA892));
 
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #FFFFFF -30%, #EFA892 100%);
 
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #FFFFFF -30%, #EFA892 100%);
	
}


.requestHeaderDiv {
	position:relative;
	height:50px;
	width: calc(100% - 10px);
	//margin-top:20px;
	padding:5px;
}

.requestHeaderTable {
	float:left;
	border-collapse:collapse;
	height:50px;
	width:780px;
	text-align:center;
	vertical-align:middle;
	
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

.requestHeaderTable td {
	border: 1px solid black;
}

.listBtnsTable {
	float:right;
	width:140px;
	border-collapse:collapse;
	border: 1px solid black;
	
	text-align:center;
	vertical-align:middle;
}

.requestCardContent {
	padding-left:20px;
	
	background-color: rgba(255, 255, 255, 0.5);
}

.requestContentsTable {
	width:900px;
	border-collapse:collapse;
	text-align:center;
	vertical-align:middle;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.requestContentsTable td {
	border: 1px solid black;
}


#titleField, #otherReqsField {
	text-decoration:underline;
} 

#sessField, #parkField, #roomNumberField, #statusField{
	width:120px;
	text-decoration:underline;
}

#roomPrefField	{
	width:150px;
	text-decoration:underline;
} 

#faciField {
	width:300px;
	text-decoration:underline;
}